<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{local_config.title}} - Looking Glass</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.5/css/flag-icons.min.css"
        integrity="sha512-UwbBNAFoECXUPeDhlKR3zzWU3j8ddKIQQsDOsKhXQGdiB5i3IHEXr9kXx82+gaHigbNKbTDp3VY/G6gZqva6ZQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/main.css">
</head>

<body>

    <div class="container" style="max-width:800px;">
        <div id="title">
            <div>
                <h1>{{local_config.title}}</h1>
                <h3>{{local_config.subtitle}}</h3>
            </div>
        </div>
        <div>
            <div>
                <div class="row" id="your-ip-info">
                    <div class="col" style="text-align:left;position: relative;">
                        <p style="position: absolute;bottom:0;margin-bottom:0;font-size:15px;">Network looking glass</p>
                    </div>
                    <div class="col" style="text-align:right;">
                        <p style="margin-bottom: 0;font-size:15px;">Your IP addresses:</p>
                        <h5 style="margin-bottom: 0;">
                            <a href="https://bgp.tools/prefix/{{client_ipv4}}"
                                style="color:white;text-decoration:none;">
                                {{client_ipv4}}
                            </a>
                        </h5>
                        <h5 style="margin-bottom: 0;">
                            <a href="https://bgp.tools/prefix/{{client_ipv6}}"
                                style="color:white;text-decoration:none;">
                                {{client_ipv6}}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card backshadow">
                <div class="card-body">

                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="collapse"
                        href="#lgSelectCollapse" role="button" aria-expanded="false" aria-controls="lgSelectCollapse"
                        style="width:100%">
                        <h3 style="margin:0;">
                            <span class="flag-icon flag-icon-{{local_config.country_code}}"></span>
                            {{local_config.location_name}}
                        </h3>
                    </button>

                    <div class="collapse" id="lgSelectCollapse">
                        <br>
                        {% if global_config.instances %}
                        <ul class="list-group">
                            {% for instance in global_config.instances %}
                            <a href="{{instance.host}}" class="list-group-item list-group-item-action">
                                <h4 style="margin:0;">
                                    <span class="flag-icon flag-icon-{{instance.country_code}}"></span>
                                    {{instance.location_name}}
                                </h4>
                            </a>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div class="card card-body">
                            <p style="margin-bottom:0;">No other instances are available.</p>
                        </div>
                        {% endif %}
                    </div>

                    <hr>
                    <div style="padding-left:15px;padding-right:15px;">
                        <h4>Server Information</h4>
                        <p>
                            <span><strong>IPv4:</strong> <code>{{public_ipv4}}</code></span><br>
                            <span><strong>IPv6:</strong> <code>{{public_ipv6}}</code></span><br>
                            <span><strong>Test Files:</strong>
                                <a href="/test_files/10m.bin" style="text-decoration: none;">10M</a>
                                <a href="/test_files/100m.bin" style="text-decoration: none;">100M</a>
                            </span><br>
                        </p>
                    </div>
                    <hr>

                    

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>