body {
  margin: 0 !important;
  background: linear-gradient(45deg, #1b023d, #5c1ea3);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: Comfortaa;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

.backshadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:0;
}

#title {
    height: 30vh;
    color: white;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

#title h1{
    font-size: 3em;
    margin: 0;
}

#title h3{
    font-weight: normal;
}

#your-ip-info {
    color:white;
}